{% extends "base.html.j2" %} 

{% block title %} 관리자 : 카테고리 추가 {% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('admin.index') }}">관리자</a></li>
    <li class="active"><a href="{{ url_for('admin.categories') }}">카테고리 관리</a></li>
</ol>
<form method="post" class="form" role="form">
  {{ form.csrf_token }}
  <div class="form-group">
    <label class="control-label" for="name">카테고리명</label>
    <input class="form-control" id="name" name="name" type="text">
  </div>
  <button type="submit" class="btn btn-primary">카테고리 추가하기</button>
</form>
{% endblock %}
