{% extends "base.html.j2" %}

{% block title %} 관리자 페이지 {% endblock %} 
{%block content %}
<h2>관리자</h2>
<ul>
  <li><a href="{{ url_for('admin.orders') }}">주문 관리</a></li>
  <li><a href="{{ url_for('admin.categories') }}">카테고리 관리</a></li>
  <li><a href="{{ url_for('admin.products') }}">제품 관리</a></li>
</ul>
{% endblock %}
