{% extends "base.html.j2" %} 

{% block title %} 주문 확인 {% endblock %}

{% block content %}
<div class="container">
    <form cssClass="form-horizontal" method="post" action="{{ url_for('order.place') }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">주문자</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">이름</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ orderer.username }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">받는 사람</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="shipping_info.receiver.name" class="col-sm-2 control-label">이름
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
                    <div class="col-sm-10">
                        <input name="shipping_info.receiver.name" cssClass="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="shipping_info.receiver.phone" class="col-sm-2 control-label">연락처
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
                    <div class="col-sm-10">
                        <input name="shipping_info.receiver.phone" cssClass="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="shipping_info.address.zip_code" class="col-sm-2 control-label">우편번호
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
                    <div class="col-sm-10">
                        <input name="shipping_info.address.zip_code" cssClass="form-control"  />
                    </div>
                </div>
                <div class="form-group">
                    <label for="shipping_info.address.address1" class="col-sm-2 control-label">주소1
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
                    <div class="col-sm-10">
                        <input name="shipping_info.address.address1" cssClass="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="shipping_info.address.address2" class="col-sm-2 control-label">주소2
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
                    <div class="col-sm-10">
                        <input name="shipping_info.address.address2" cssClass="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">주문 상품</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>상품</th>
                        <th>가격</th>
                        <th>개수</th>
                        <th>합</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart in carts %}
                        <tr>
                            <td>{{ cart.product.name }}</td>
                            <td>{{ cart.product.price }}</td>
                            <td>{{ cart.quantity }}</td>
                            <td>{{ cart.get_amounts() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody> 
                    <tfoot>
                    <tr>
                        <td colspan="3">총합</td>
                        <td>{{ total_amounts }}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="submit" class="btn btn-primary">구매하기</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
