<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home') }}">DIB</a>
      <ul class="nav navbar-nav">
        {% if request.endpoint.startswith('home') != true %}
        <li><a href="{{ url_for('home') }}">홈</a></li>
        {% endif %} {% if request.endpoint.startswith('products') != true %}
        <li><a href="{{ url_for('catalog.categories') }}">카테고리</a></li>
        {% endif %}
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %} 
        {% if current_user.is_admin %}
        <li><a href="{{ url_for('admin.index') }}">관리자</a></li>
        {% endif %}
        <li>
          <a href="{{ url_for('user.my') }}">{{ current_user.username }}</a>
        </li>
        <li><a href="{{ url_for('user.logout') }}">로그아웃</a></li>
      {% else %}
        <li><a href="{{ url_for('user.signup') }}">회원가입</a></li>
        <li><a href="{{ url_for('user.login') }}">로그인</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
